body.night-theme {
    background-color: #333;
    color: white;
}

.gallery {
    text-align: center;
}

.timeline {
    margin: 20px 0;
}

.timeline-item {
    border: 1px solid #007bff;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.timeline-item.active {
    background-color: #007bff;
    color: #fff;
}

.draggable-item {
    cursor: grab;
}

.drop-zone {
    border: 2px dashed #007bff;
    background-color: #f8f9fa;
}

.draggable-item.dragging {
    opacity: 0.5;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}


.thumbnails img {
    width: 500px;
    height: 70px;
    cursor: pointer;
}

#mainImage {
    width: 100%;
    margin-top: 20px;
}

.custom-navbar {
    background-color: #5e3517;
}

.custom-navbar a {
    color: #ffffff;
}

.custom-carousel img {
    width: 50px;
    height: 600px;
    object-fit: cover;
}
/* Основные стили для карточек */
.custom-card {
    display: flex;
    align-items: center;
    padding: 15px;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: center;
    margin-top: auto;
}

/* Стили для светлой темы */
.day-theme .custom-card {
    background-color: #343a40; /* темный фон для светлой темы */
    color: white;
}

/* Стили для ночной темы */
.night-theme .custom-card {
    background-color: #f8f9fa; /* светлый фон для темной темы */
    color: black;
}

.carousel-caption {
    bottom: 20px;
    text-align: center;
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}

.btn-primary {
    background-color: #ff6f00;
    border-color: #ff6f00;
}

.container {
    text-align: center;
}
/* styles.css */


.timeline {
    position: relative;
    max-width: 800px;
    margin: auto;
    padding: 10px 0;
}

.event {
    background: white;
    border-radius: 8px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.event.visible {
    opacity: 1;
    transform: translateY(0);
}

.year {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #ff5722;
}

@media (max-width: 600px) {
    .event {
        padding: 15px;
    }
}